
<h1>Create Comment</h1>

<form action="/comment" method="POST">
    <input type="text" placeholder="Name"  name="name">

    <br>

    {{!-- <label>Comment:</label> --}}
    <textarea name="comment" placeholder="comment" cols="31" rows="7"></textarea>
    <input type="submit" value="Create" >
</form>