<div>
<h1 class="main-title">All Chores</h1>
</div>

<a href="/chore/new">
    <button>
        Add Chore
    </button>
</a>
<div class="chores">
{{#each allChores}}
<a href="/chore/{{_id}}">
    <div class="chore-item">
        
        <div class="title">Type of Chore</div>
        {{type}}

        <div class="title">Frequency</div>
        {{howOften}}


        <div class="title">Starting Date</div>
        {{when}}

    </div>
</a>
{{/each}}