<h1>Add Chore</h1>

<form action="/chore" method="POST">
    <label>Type Of Chore</label>
    <input type="text" name="type"/>

    <label for="frequency">Frequency</label>
    <select id="frequency" type="text" name="howOften"/>
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Seasonal">Seasonal</option>
    </select>

    <label>Scheduled for:</label>
    <input type="text" name="when"/>

    <input type="submit" value="Add">
</form>


