<h1>Add Chore</h1>

<form action="/chore" method="POST">
    <label>Type Of Chore</label>
    <input type="text" name="type"/>

    <label>Scheduled for:</label>
    <input type="date" name="when"/>

    <input type="submit" value="Add">
</form>



