<h1>Edit Chore</h1>


<form action="/chore/{{singleChore._id}}?_method=PUT" method="POST">

    <label>Type Of Chore</label>
    <input type="text" name="type"  value="{{singleChore.type}}"/>

     <label>Frequency</label>
    <input type="text" name="howOften"  value="{{singleChore.howOften}}"/>


    <label>Scheduled For:</label>
    <input type="text" name="when"  value="{{singleChore.when}}"/>

    <input type="submit" value="Save"/>

</form>