<h1 class="main-title">Edit Chore</h1>


<form class="form" action="/chore/{{singleChore._id}}?_method=PUT" method="POST">

    {{!-- <label>Type Of Chore</label> --}}
    <input class="input" type="text" name="type" placeholder="Type Of Chore" value="{{singleChore.type}}"/>

     {{!-- <label>Frequency</label> --}}
    <input class="input" type="text" name="howOften" placeholder="Frequency" value="{{singleChore.howOften}}"/>


    {{!-- <label>Scheduled For:</label> --}}
    <input class="input" type="text" name="when" value="{{singleChore.when}}"/>

    <input type="submit" value="Save"/>

</form>