<a href="/chore/{{singleChore._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="title">Type Of Chore</div>
{{singleChore.type}}

<div class="title"> Scheduled For</div>
{{singleChore.when}}

<form action="/chore/{{singleChore._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>