<div>
<h1 class="main-title">House Chore Tracker</h1>
</div>

<a href="/user/new">

    <div class="add-container">
                <span class="material-icons">
                    add
                </span>
                {{!-- <span>Add User</span> --}}
    </div>
    
</a>
<div class="users">
{{#each allUsers}}
<a href="/user/{{_id}}">
    <div class="user-item">
       <img id="user-img" src=" {{image}}"/>

        <div class="title">
        {{name}}
        </div>

    </div>
</a>
{{/each}}

</div>