<div>
<h1 class="main-title">All Users</h1>
</div>

<a href="/user/new">
    <button>
        Add User
    </button>
</a>
<div class="users">
{{#each allUsers}}
<a href="/user/{{_id}}">
    <div class="user-item">
        <div class="title">Name</div>
        {{name}}
        <div class="title">Date</div>
        {{date}}
    </div>
</a>
{{/each}}

</div>