<h1>Edit User</h1>


<form action="/user/{{singleUser._id}}?_method=PUT" method="POST">

    <label>Name</label>
    <input type="text" name="name" value="{{singleUser.name}}"/>


    <label>Image URL</label>
    <input type="text" name="image" value="{{singleUser.image}}"/>

    <input type="submit" value="Save"/>

</form>