body {
    /* background-color: lightgoldenrodyellow; */
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
}

.main-title {
    text-align: center;
}

.add-container .material-icons {

    font-size: 50px;
    color: black;
}
.users {
    display: flex;
    justify-content: space-evenly;
}

.user-conatainer {
    border-radius: 5px;
    height: 160px;
    width: 160px;
}


#user-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-img-single #user-img-single {
    margin: 15px 20px;
}

.debtn {
    display: flex;
    margin: 20px;
}

.user-delete {
    margin-left: 15px;
}


.form {
    display: flex;
    justify-content: center;
}

.input {
    margin: 20px;
    padding: 8px 35px;
    font-size: large;
}
input[value="Add"] {
    padding: 5px 20px;
    height: 100px;
    width: 100px;
}

.chores-container {
    color: white;
    background-color: cornflowerblue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
    width: 280px
}

.delete-btn {
    color: white;
    background-color: red;
    margin-left: 15px;
    border: none;
}

.edit-btn {
    color: white;
    background-color:green;
    width: 50px;
    height: 20px;
    border: none;
}